<template name="home">
  <div class="jumbotron">
    <p>EAR is a platform for tracking ownership and creditor interests in physical assets.
    At its lowest level it functions as a timestamping and notary service that uses the
    blockhain (an immutable public ledger) to record cessions (the transfer of interests or
    rights in an asset).</p>

    <p>By writing the unique hash of a cession and its supporting documents into
    the blockchain, EAR can be used to validate claims on an asset.</p>
  </div>
</template>
