<template name="cessionItem">
  <div class="cession">
    <div class="cession-content">
      <h3>
        <a href="{{pathFor 'cessionPage'}}">{{title}}</a><span>{{organization}}</span>
      </h3>
      <p>
        <span class="label {{cessionStatusColor}} label-as-badge">{{cessionStatus}}</span>
        Created by {{author}}
        {{#if ownCession}}<a href="{{pathFor 'cessionUpdate'}}">Update</a>{{/if}}
      </p>
    </div>
    <a href="{{pathFor 'cessionPage'}}" class="examine btn btn-default">Examine</a>
  </div>
</template>
