<template name="cessionUpdate">
  <form class="main form">
    <div class="form-group {{errorClass 'cessionStatus'}}">
      <label class="control-label" for="cessionStatus">Cession Status</label>
      <select name="cessionStatus" id="cessionStatus" class="form-control">
        <option {{isSelected "Active"}}>Active</option>
        <option {{isSelected "Cancelled"}}>Cancelled</option>
      </select>
      <span class="help-block">{{errorMessage 'cessionStatus'}}</span>
    </div>
    <div class="form-group {{errorClass 'inputFile'}}">
      <label class="control-label" for="inputFile">Document Upload</label>
      <div class="controls">
        <input name="inputFile" id="inputFile" type="file" class="form-control" />
        <span class="help-block">{{errorMessage 'inputFile'}}</span>
      </div>
    </div>
    <div class="form-group {{errorClass 'updateDescription'}}">
      <label class="control-label" for="updateDescription">Update Description</label>
      <div class="controls">
        <textarea name="updateDescription" id="updateDescription" placeholder="Enter description..." class="form-control" rows="3"></textarea>
        <span class="help-block">{{errorMessage 'updateDescription'}}</span>
      </div>
    </div>
    <input type="submit" value="Update" class="btn btn-primary" />
  </form>
</template>
